{% extends "../base.html" %}
{% load static %}
{% block title %}购物车信息{%endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">购物车</h1>
  </div>
  <div class="col-12">
    <p>管理您<b>购物车</b>中的宝贝</p>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row g-3">
    {% if basket|length == 0 %}
    <div class="col-12">购物车为空<a href="{% url 'catalogue:store_home' %}">返回购买页面</a></div>
    {% else %}
    <div class="col-12 bg-light p-3 d-flex justify-content-between">
      <div class="d-flex d-flex-inline">
        <div class="pe-3"></div>
        <div class="dropdown">
          {% comment %} <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            运送选项
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
              class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a> {% endcomment %}
          {% comment %} <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url "catalogue:store_home" %}">所有</a></li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
              <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
            </li>
            {% endfor %}
          </ul> {% endcomment %}
          
          {% comment %} <ul class="dropdown-menu" aria-labelledby="dropdownLink">
            <li class="item small">次日达</li>
            <li class="item small">优先派送</li>
          </ul> {% endcomment %}
        </div>
      </div>
      <div class="text-end">
        <div class="">商品总计： <span class="fw-bold">¥</span>
          <div id="subtotal" class="d-inline-flex fw-bold">{{basket.get_subtotal_price}}</div>
        </div>
        {% comment %} <div id="">运费<span class="small">(次日达)</span>: <span class="fw-bold">CNY0.00</span></div> {% endcomment %}
        {% comment %} <div class="pt-2">总价：<span class="fw-bold h5">¥</span><span id="total"
            class="fw-bold h5">{{basket.get_total_price}}</span></div> {% endcomment %}
      </div>
    </div>
    <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
      <div class="d-grid gap-2 ">
        <a role="button" href="{% url 'checkout:deliverychoices' %}" class="btn btn-success fw-bold" type="button">点击结算</a>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 p-0">
      {% for item in basket %}
      {% with product=item.product %}
      <div class="card mb-3 border-0 product-item" data-index="{{product.id}}">
        <div class="row g-0">
          <div class="col-md-2 d-none d-md-block">
            {% for image in product.product_image.all %}
            {% if image.is_feature%}
            <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
            {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-10 ps-md-3">
            <div class="card-body p-1">
              <a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
                <p class="card-text pb-3">{{product.title}}</p>
              </a>
              <label for="select">数量</label>
              <select id="select{{product.id}}" style="width:50px;height:31px;">
                <option value="" selected disabled hidden>{{item.qty}}</option>
                {% if product.quantity >= 1 %}
                <option value="1">1</option>
                {% endif %}
                {% if product.quantity >= 2 %}
                <option value="2">2</option>
                {% endif %}
                {% if product.quantity >= 3 %}
                <option value="3">3</option>
                {% endif %}
                {% if product.quantity >= 4 %}
                <option value="4">4</option>
                {% endif %}
              </select>
              <a type="button" id="update-button" data-index="{{product.id}}"
                class="update-button text-decoration-none small ps-3">更新</a>
              <a type="button" id="delete-button" data-index="{{product.id}}"
                class="delete-button text-decoration-none small">删除</a>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

<script>
  // Delete Item
  $(document).on("click", ".delete-button", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_delete" %}',
      data: {
        productid: $(this).data("index"),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();

        if (json.qty == 0) {
          total = 0
          subtotal = 0
        } else {
          //total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
          total = (parseFloat(json.subtotal)).toFixed(2);
          subtotal = json.subtotal
        }

        document.getElementById("subtotal").innerHTML = subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {},
    });
  });

  // Update Item
  $(document).on("click", ".update-button", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_update" %}',
      data: {
        productid: $(this).data("index"),
        productqty: $("#select" + prodid + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        total = (parseFloat(json.subtotal) + 0.0).toFixed(2);
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>

{% endblock %}