{% extends "../sub_base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="account-form mx-auto" method="post" action="{% url 'account:pwdreset' %}">
    <h3 class="mb-4">忘记账户密码?</h3>
    <p>输入您的注册邮箱以找回密码</p>
    {% if form.errors %}

    <div class="alert alert-primary" role="alert">
        {% for field in form %}
        {% if field.errors %}
        {{ field.errors|striptags }}
    <br>
    {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">发送邮件</button>
    <p class="text-center"><a href="{% url "account:login" %}">登录</a></p>
</form>

{% endblock %}