{% extends "../sub_base.html" %}
{% block title %}密码重置{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="login-form" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-4 font-weight-bold">更改密码</h1>
    <p>根据下面提示，来帮助您重置密码</p>

    {% if form.errors %}
    <p>出错啦，请修改以下错误：</p>
    {% for field in form %}
    {% if field.errors %}
    <div class="alert alert-primary" role="alert">
        {{ field.errors|striptags }}
    </div>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}

    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
    {{ form.new_password1 }}
    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
    {{ form.new_password2 }}
    <ul>
        <li>您的新密码不能与您的个人信息过于相似。</li>
        <li>您的新密码至少8位。</li>
        <li>您的新密码不能是普遍使用的简单密码。</li>
        <li>您的新密码不能使用纯数字。</li>
    </ul>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit" value="Change">提交
    </button>
</form>

{% endblock %}